<% if logged_in? %>
    <h1>Users</h1>
    
    <p>Below is a list of Users.
    
  <% @users.each do |user| %>
    <h2> Name: <%= user.first_name%> <%=user.last_name%> </h2>
    <h3> Email: <%= user.email %> </h3>
        
        <a href="/users/<%=user.id%>/edit"><input type="button" value=" Edit "> </a> 
    <br>
    <br>
    <br>
    <% end %>
    
    <% else %>
    Please Sign In: <a href="/"> Here </a>
    <% end %>