<h1> Signup </h1>

<form action="/signup" method="POST">
<table> 
    <tr>
        <td> First Name: </td>
        <td><input type="text" name="user[first_name]"></td>
    </tr>
    <tr>    
        <td>Last Name: </td>
        <td><input type="text" name="user[last_name]"></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td><input type="email" name="user[email]"></td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><input type="password" name="user[password]"></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><input type="submit" value="Submit"></td>
    </tr>
</table>
</form>