<h3>User Signup & Login</h3>
<p>Please login or <a href="/signup">sign up</a> to register. 

<form action="/login" method="post">
<h3><table>
<tr>
<td align="right">Email:</td>
<td><input type="text" name="email"></td>
</tr>
<tr>
<td align="right">Password:</td>
<td><input type="password" name="password"></td>
</tr>
<tr>
<td></td>
<td align="right"> <input id="submit" type="submit" value="Login"></td>
</tr>
</table> </h3>
</form>